.container
  .row
    .col--xs6
      label.label--right(
        style = "display: block; width: 100%"
      ) First Name
      label.label--right(
        style = "display: block; width: 100%"
      ) Last Name
      label.label--right(
        style = "display: block; width: 100%"
      ) Favorite Colors
      label.label--right(
        style = "display: block; width: 100%"
      ) Favorite City
      label.label--right(
        style = "display: block; width: 100%"
      ) Verified
    .col--xs6
