.container.container--fixed.container--centered.container--comfy
  .row
    .col--xs9
      .appSubHeading.appSubHeading--comfy.appSubHeading--standalone
        | CONFIGURATION
      unifi-configure-form
    .col--xs3
      .appSubHeading.appSubHeading--comfy.appSubHeading--standalone
        | RESPONSE
      unifi-configure-summary
